.copyright_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body {
    background-color: rgb(90, 104, 250);
}

h1 {
    font-family:Courier;
    font-style:oblique;
    font-weight: 600;
}
h4 {
    color: red;
    font-weight: bold;
}
#camera {
    width: 500px;
    height: 400px;
    border-color: grey;
    border-width: 10px;
}
img:hover {
    border-radius: 140px;
}
img {
    box-shadow: 0 6px 8px rgba(2,2,2,0.2);
    border-radius: 5px;
    float: left;
    padding: 5px;
}